.btn-primary {
  color: #fff;
  background-color: #001f3f;
}

.dropdown-submenu {
  left: 100%;
  top: -3px;
}

.text-editor-container {
  background: #001f3f;
  margin: 10px;
  padding: 30px;
  color: #fff;
}

.text-editor-container > div {
  margin-bottom: 10px;
}

.cnl-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#text_field.cnl-input {
  height: 125px;
}

.CNL-text-list {
  padding-left: 20px;
}

.submit-button-container {
  align-self: center;
}

.submit-button {
  padding: 15px;
  background-color: #ebebeb;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.navbar {
  background-color: #222;
}

.dropdown-menu.show .dropdown-item.active,
.dropdown-menu.show .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #001f3f;
}

.dropdown-menu.show .dropdown-item[aria-expanded="true"],
.dropdown-menu.show .dropdown-item[aria-expanded="true"]{
  color: #fff;
  text-decoration: none;
  background-color: #001f3f;
}

.lookahead-container {
  display: flex;
}

.lookahead-button-container {
  margin-right: 3px;
}

.lookahead-container > .sf-menu > .lookahead-button-container,
.lookahead-container > .sf-menu > .anaphoric-button-container {
  background-color: #ebebeb;
}

.lookahead-button-container .lookahead-button,
.anaphoric-button-container .anaphoric-button {
  color: #333;
  padding: 10px;
  background-color: #ebebeb;
}

.lookahead-dropdown-menu {
  width: 100%;
}

.lookahead-dropdown-menu > .dropdown-item > a,
.anaphoric-dropdown-menu > .dropdown-item > a {
  background-color: #ebebeb;
  border-radius: 0;
  width: 100%;
  color: #333;
  height: 40px;
  line-height: 15px;
}

.lookahead-dropdown-menu > .dropdown-item > a:hover,
.anaphoric-dropdown-menu > .dropdown-item > a:hover {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .lookahead-button,
  .anaphoric-button {
      width: 50%;
      font-size: 14px;
  }
}

.lookahead-button:hover,
.anaphoric-button:hover {
  cursor: pointer;
}

.lookahead-dropdown-submenu-item > .dropdown-item > a,
.anaphoric-dropdown-menu > .dropdown-item > a {
  background-color: #ebebeb;
  border-radius: 0;
  width: 100%;
  color: #333;
  height: 40px;
  line-height: 15px;
}

.lookahead-dropdown-submenu-item > .dropdown-item > a:hover,
.anaphoric-dropdown-menu > .dropdown-item > a:hover {
  background-color: #fff;
}

.lookahead-dropdown-submenu {
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lexicon-input {
  height: 38px;
  background-color: #e00;
  border-color: #333;
  border-style: dotted;
  padding-left: 6px;
  color: #fff;
  caret-color: #333;
}

.results-container {
  margin: 10px;
}

.results-button {
  color: #333;
  width: 100%;
  height: 100%;
  padding: 0.75rem 1.25rem;
  text-align: left;
  text-decoration: none;
}

.results-text {
  padding-left: 50px;
}

.btn-link,
.btn-link:hover,
.results-button:hover,
.btn-link:focus,
.btn-link.focus {
  color: #333;
  text-decoration: none;
}

.results-card-title {
  display: flex;
  align-items: center;
}

.results-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.results-icon-plus {
  background-image: url(./icon-plus.png);
}

.results-icon-minus {
  background-image: url(./icon-minus.png);
}

.card {
  margin-bottom: 5px;
}

.card-header {
  padding: 0px;
}

.asp-header-container {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.background-theory-container {
  color: #333;
  font-size: 14px;
  display: inline-flex;
  width: 225px;
  margin-right: 10px;
  align-items: center;
  font-weight: 400;
}

.background-theory-text {
  margin-right: 10px;
}


/* jQUery UI */

.ui-menu .ui-menu-item a {
  color: #333;
  border-radius: 0px;
  display: block
}

.ui-state-focus {
  color: #fff;
  background: #24a;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul.ui-autocomplete {
  list-style: none;
  list-style-type: none;
  padding: 5px;
  margin: 0px;
  border-color: 24a;
  border-radius: 2px;
}

.ui-menu {
  position: inherit;
  background-color: #fff;
}
